*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html{
    background: url(../images/washers1.jpg), linear-gradient(60deg, #1b1b1b) i!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-size: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 188, 188);
    height: 10vh;
    /* padding: 20px 10px 10px 10px; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    top: 0;
    position: sticky;
    z-index: 10;

}
#login{
  background-color: transparent;
  color: crimson;
  border: 2px solid crimson;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 5px;
  
}
#login:hover{
  background-color: crimson;
  color: white;
}
.menu ul {
    display: flex;
    justify-content: space-between;
}
ul li{
    margin-right: 20px;
    width: 100px;
    height: 20px;

}
ul li a{
    color: rgba(252, 251, 251, 0.952);
    text-decoration: none;
   
}
ul li:hover a:not(.active){
    color: black;
    /* background-color: white; */
     font-size: 22px;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
     -o-transition: all 300ms ease-in-out;
     transition: all 300ms ease-in-out;
}

.intro{
    height: 80vh;
    background-color: rgba(219, 211, 211, 0.4);
    padding: 30px;
}
.spacer{
    height: 50vh;
}
.title{

    color: black;
}
.title1{
    font-size: 25px;
    margin: 20px 0px;
}
.title2{
    font-size: 30px;
    margin-bottom: 10vh;
}
.about{
    background: #000080;
}
.image img{
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.flex-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.about .content h1{
    color: #9F2B68;
    font-size: 40px;
    margin-bottom: 10px;
}
.about .content p{
    text-align: justify;
    font-size: 25px;
    color: white;
}
.about .image{
    margin-top: 60px;
    width: 50%;
    height: 400px;
}
.service{
    background: 	#E5E4E2;
}
.icon{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.holder p{
    text-align: justify;
    font-size: 20px;
}
.holder{
    height: 30vh;
}
.heading{
    color:#000080;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 25px;
}
.addition{
    background: #C0C0C0;
}
.contact .left{
    width: 50%;
}
.contact .right{
    width: 50%;
}
.contact .right p{
    margin-bottom: 30px;
}
.contact .right button{
    justify-content: center;
    margin-left: 100px;
}
@media (max-width:950px){
  #navbar{
    /* height: 100px; */
    /* background-color: #000080; */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .title1{
    font-size: 1.2rem;
  }
  .title2{
    font-size: 0.9rem;
  }
  .flex-align{
    flex-direction: column-reverse;
  }
   .services .flex-align .image{
    width: 150%;
    margin: 10px auto;
    height: 100%;
    position: relative;
    /* object-fit: cover; */
    /* background-color: red; */
  }
  .image img{
    width: 100vw;
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }
  .holder icon{
    display: grid;
    place-items: center;
    margin: 0 auto;
  }
  #contc{
    display: flex;
    /* background-color: red; */
    flex-direction: column;
  }
  #contc .internals{
    width: 100vw;
    text-align: center;
  }

}
#navbar a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}