.pricing{
    overflow-y: scroll;
}
.content{
    height: 150vh;
}
table{
    width: 98%;
    margin: 10px;
}
thead{
    text-align: center;
    font-size: 30px;
}
td, th{
    /* border: 2px solid black; */
    padding: 20px;
    /* text-align: center; */
}
